@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
}
html
{
	background: url(../images/htmlBg.png) repeat scroll 0 0 transparent;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#383838;
	background: url(../images/bodyBg.png) repeat-x scroll top left transparent;
	padding-top:3px;
}
img
{
	border:none;
}
.clear {
	clear:both;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.wrap
{
	width:1000px;
	margin:0 auto;
}
.logo
{
	margin-top:10px;
}
.appName
{
	color: #FF942C;
	font-size:13px;
	margin-bottom:10px;
}
.wrapLogin
{
	width:380px;
	margin:10px auto;
	box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow:0 0 5px #ccc inset;
    color: #666666;
    padding: 15px 7px 10px 22px;
    text-align: left;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
}
.header {
	padding:5px 0px 10px;
}
.paddinLogin
{
	padding:55px 70px 60px 70px !important;
}
/*-----menu css------------*/
.menu
{
}
#mainMenu
{
	list-style:none;
	float:left;
}
#mainMenu li
{
	float:left;
	position:relative;
}
#mainMenu li a
{
	padding: 10px 40px;
	color: #fff;
    font: bold 12px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
	display:block;
	border-right:solid 1px #88b3e8;
	background: url(../images/menuBg.png) repeat-x scroll 0 0;
    text-decoration: none;
	
}
#mainMenu li a:hover, #mainMenu li a.active
{
	background: url(../images/menuBg.png) repeat-x scroll 0px -42px;	
	color:#fff;
	position:relative;
	
}
#mainMenu li.first
{
	border-left:solid 1px #2f68ae;
	-webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
}

#mainMenu li a.last
{
	border-right:solid 1px #b06720;
	-webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
	box-shadow: 0 0 4px #b06720 inset;
	background: url(../images/menuBg.png) repeat-x scroll 0px -85px;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
	color:#1f1f1f;
}
#mainMenu>li>ul{
    height: auto;
    position: absolute;
    display:none;
	list-style:none;
	z-index:99;
}
#mainMenu>li>ul>li a{
    display: block;
    color: #fff;
	padding:7px 10px !important;
	width:130px;
}
.userName
{
	list-style:none;
	color:#2b62a7;
	font-size:13px;
	text-align:right;
}
.userName span
{
	font-weight:bold;
	
}
/*-----------------menu css end-----------------*/
/*---------------main Content start-----------*/
/*----------------login details-------------*/
.loginDetail
{
	margin-bottom:10px;
}
.loginDetail label
{
	width:100px;
	float: left;
    margin-right: 10px;
	padding-top:4px;
    text-align: right;
}
.loginDetail input[type=text],.loginDetail input[type=password], .loginDetail select, .loginDetail textarea
{
	float:left;
	 width:200px;
	 border: 1px solid #e5e5e5;
	 padding:4px 5px;
	 resize:none;
	 box-shadow: 0 0 2px #eaeaea inset;
	-webkit-box-shadow:0 0 2px #eaeaea inset;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
}
.loginDetail select
{
	width:212px;
}
input[type=text],input[type=password], select,textarea
{
	 width:100px;
	 border: 1px solid #e5e5e5;
	 padding:3px 3px;
	 resize:none;
	 box-shadow: 0 0 2px #ccc inset;
	-webkit-box-shadow:0 0 2px #ccc inset;
}
.btns
{
	text-align:center;
}
input[type=button].blueBtn
{
	border:none;
   border-top: 1px solid #62a3cc;
   background: #1b3c64;
   background: -webkit-gradient(linear, left top, left bottom, from(#295b99), to(#1b3c64));
   background: -webkit-linear-gradient(top, #295b99, #1b3c64);
   background: -moz-linear-gradient(top, #295b99, #1b3c64);
   background: -ms-linear-gradient(top, #295b99, #1b3c64);
   background: -o-linear-gradient(top, #295b99, #1b3c64);
   padding: 7px 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
   min-width:80px;
   margin-right:8px;
}
input[type=button].blueBtn:hover {
   border-top-color: #ff8011;
   background: #ff8011;
   color: #0d0b0d;
}

input[type=button].blueBtnDis
{
	border:none;
   border-top: 1px solid #000000;
   background: #f0f0f0;
   background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f0f0f0));
   background: -webkit-linear-gradient(top, #e5e5e5, #f0f0f0);
   background: -moz-linear-gradient(top, #e5e5e5, #f0f0f0);
   background: -ms-linear-gradient(top, #e5e5e5, #f0f0f0);
   background: -o-linear-gradient(top, #e5e5e5, #f0f0f0);
   padding: 6.5px 13px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #a3a3a3;
   text-decoration: none;
   vertical-align: middle;
   min-width:80px;
   margin-right:8px;
   z-index:9;
   position:relative;
}

.browseFile {
    border:none;
   border-top: 1px solid #62a3cc;
   background: #1b3c64;
   background: -webkit-gradient(linear, left top, left bottom, from(#295b99), to(#1b3c64));
   background: -webkit-linear-gradient(top, #295b99, #1b3c64);
   background: -moz-linear-gradient(top, #295b99, #1b3c64);
   background: -ms-linear-gradient(top, #295b99, #1b3c64);
   background: -o-linear-gradient(top, #295b99, #1b3c64);
   padding: 8px 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
   min-width:80px;
    overflow:hidden;
	margin-right:8px;
}
input[type=file].blueBtn{
    margin-left:-227px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


#centerContent
{
	min-height:235px;
	background:#fff;
	padding:10px;
	border:solid 1px #fff;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow:  0px 0px 10px 0px #ccc;
    box-shadow:  0px 0px 10px 0px #ccc;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
}
.mainContent
{
	/*background:url(../images/contentBg.png) repeat-x;
	margin-top:-120px;*/
	
}
.pageTitle
{
	border-bottom:dotted 1px #ccc;
	margin-bottom:10px;
	color:#FF942C;
	font-size:17px;
}
.statusListDetail
{
	margin:10px 0px;
	box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow:0 0 5px #ccc inset;
    color: #666666;
    padding: 15px 10px 10px;
    text-align: left;
	border: 1px solid #ccc;
	behavior: url(css/PIE.htc);
	z-index:9;
	position:relative;
}
.statusList
{
	float:left;
	margin-right:30px;
}
.mTopMinus
{
	margin-top:-4px;
	position:relative;
}
.mTopMinus img
{
	position:absolute;
	top:2px;
	right:-23px;
}
a:link
{
	color: #2f68ae;
	text-decoration:underline;
	
}
a:hover, a:visited, a:active
{
	text-decoration:none;
	color: #2f68ae;
}
a.blueLink
{
	color: #2f68ae;
	text-decoration:none;
}
a.blueBtn
{
	background: #2f68ae;
	color:#fff;
	padding:3px 10px;
	text-decoration:none;
	border:solid 2px #c3c3c3;
}


/*---------------main Content end------------*/
/*------------------table grid---------------------*/
.tbl
{
	margin:10px 0px;
}
.tblGrid {
	width:100%;
	padding: 0;
	margin: 0;
	border-left:1px solid #d7e9ff;
}
.tblGrid tr
{
	background: #fff;
}
.tblGrid th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	border-right: 1px solid #d7e9ff;
	border-bottom: 1px solid #d7e9ff;
	border-top: 1px solid #d7e9ff;
	text-transform: uppercase;
	text-align: left;
	padding: 6px;
	background: url(../images/tblHeadBg.png) repeat-x scroll 0 0;
}
.tblGrid tr td {
	border-right: 1px solid #d7e9ff;
	border-bottom: 1px solid #d7e9ff;
	padding: 6px;
	color: #4f6b72;
	font: normal 12px Arial, Helvetica, sans-serif;
}
.tblGrid tr.alt
{
	background: none repeat scroll 0 0 #F5FAFA;
    color: #797268;
}

.tblGrid textarea
{
/*	 background: none repeat scroll 0 0 #F5FAFA;*/
	 width:95%;
	 border: 1px solid #d7eacf;
	 padding:3px 3px;
	 height:25px;
}
/*------------------table grid end---------------------*/
/*-----------------tblGridSmeFeedBack-----------------*/
.tblSmeFeedBack
{
	margin:10px 0px;
}
.tblGridSmeFeedBack {
	width:100%;
	padding: 0;
	margin: 0;
	border-left:1px solid #c5c5c5;
}
.tblGridSmeFeedBack tr
{
	background: #fff;
}
.tblGridSmeFeedBack th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid #c5c5c5;
	text-transform: uppercase;
	text-align: left;
	padding: 6px;
	background:#eeeeee;
}
.tblGridSmeFeedBack th.subHead
{
	border-bottom:none;
	text-align:center;
	font-size:15px;
}
.tblGridSmeFeedBack tr td {
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	padding: 6px;
	color: #2b2b2b;
	font: normal 12px Arial, Helvetica, sans-serif;
}
.tblGridSmeFeedBack tr td input[type=text],input[type=password], select,textarea
{
	 width:120px;
	 border: 1px solid #e5e5e5;
	 padding:3px 3px;
	 resize:none;
	 box-shadow: 0 0 2px #ccc inset;
	-webkit-box-shadow:0 0 2px #ccc inset;

}
.tblGridSmeFeedBack tr td textarea
{
	width:305px;
	height:40px;
}
.tblGridSmeFeedBack tr.alt
{
	background: none repeat scroll 0 0 #F5FAFA;
    color: #797268;
}
/*-----------------form detail------------------------*/
.filterSearch
{
	background:#f5f5f5;
	border:1px dashed #cbcbcb;
	padding:10px;
	margin-bottom:20px;
}
.filterSearch label
{
	width:140px;
	float: left;
    margin-right: 5px;
	padding-top:8px;
    text-align: right;
}
.filterSearch input[type=text],.filterSearch input[type=password], .filterSearch select,.filterSearch textarea
{
/*	 background: none repeat scroll 0 0 #F5FAFA;*/
	 width:200px;
	 border: 1px solid #e5e5e5;
	 padding:8px 3px;
	 resize:none;
	 box-shadow: 0 0 2px #ccc inset;
	-webkit-box-shadow:0 0 2px #ccc inset;
	float:left;
}
.formLeft
{
	float:left;
	width:450px;
}
.formRight
{
	float:left;
	width:450px;
}
.fomDetail
{
	margin-bottom:10px;
}
.fomDetail label
{
	width:200px;
	float: left;
    margin-right: 5px;
	padding-top:4px;
    text-align: right;
}
.fomDetail input[type=text],.fomDetail input[type=password], .fomDetail select, .fomDetail textarea
{
	float:left;
	 width:200px;
	 border: 1px solid #e5e5e5;
	 padding:4px 5px;
	 resize:none;
	 box-shadow: 0 0 2px #eaeaea inset;
	-webkit-box-shadow:0 0 2px #eaeaea inset;
}
.fomDetail textarea.large
{
	width:593px;
}
/*-----------------footer------------------------*/
.footer
{
	margin:10px 0px;
	font-size:11px;
}
input[type='text']:disabled{
	border:none;
	background:none;
	 box-shadow: none;
	-webkit-box-shadow:none;
	font-weight:bold;
	font-size:12px;
}
textarea[disabled]{
	border:none;
	background:none;
	 box-shadow: none;
	-webkit-box-shadow:none;
	font-weight:bold;
	overflow:hidden;
}
.marginLeft5
{
	margin-left:5px;
}
.candidateName{
    color: #2B62A7;
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px dashed #CBCBCB;
	padding:3px;
	font-size:15px;
	font-weight:bold;
}
